@media (min-width: 768px) {
	
	// REUSED
	.grid {
	    .grid-item {
	        width: 50%;
	    }
	}
	
	// HOME
	#slickHeader {
		.content {
        	width: auto;
        }
	}
	
	#news-events-content {
	    .inner {
	        .tab-content {
	            .tab-pane {
	                .block {
	                    .content {
	                        padding: 0 0 0 30px;
	                    }
	                }
	            }
	        }
	    }
	}
	
	// CONTACT
	#contactUs {
	    .inner {
	        .form-holder {
	            form {
	                input[type="text"] {
	                    width: 50%;
	                }
	            }
	        }
	    }
	}
	
}